{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "> 1%"
              ]
            }
          }
        ],
        "@babel/preset-stage-1",
        "@babel/preset-react"
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "> 1%"
              ]
            },
            "modules": false
          }
        ],
        "@babel/preset-stage-1",
        "@babel/preset-react"
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "> 1%"
              ]
            },
            "modules": false
          }
        ],
        "@babel/preset-stage-1",
        "@babel/preset-react"
      ]
    }
  }
}
