{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["jest", "jsdoc"],
  "extends": ["airbnb", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-use-before-define": 0,
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "jsdoc/check-param-names": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-example": 0,
    "jsdoc/require-hyphen-before-param-description": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1,
    "no-underscore-dangle": 0,
    "react/prefer-stateless-function": 0,
    "no-plusplus": 0,
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "jsx-a11y/click-events-have-key-events": 0,
    "require-jsdoc": [1, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false,
        "ArrowFunctionExpression": false,
        "FunctionExpression": true
      }
    }]
  },
  "settings": {
    "import/core-module": [
      "electron"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "moduleDirectory": [
          "./src/",
          "./src/renderer",
          "./node_modules/"
        ]
      }
    },
    "jsdoc": {
      "additionalTagNames": {
        "customTags": ["async"]
      }
    }
  }
}
