# Dependencies.
node_modules/

# Build.
.releases/
.dist/
.dev/
.reports/
.tmp/
.storybook-build/

# Secrets.
.env.*
# Allow .env.[ENV].example so developers can see the required env keys.
!.env.*.example

# Temp files.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE.
.idea/
