.container {
  width: 100%;
  display: flex;

  .strengthStep {
    width: calc(20% - 1px);
    height: 5px;

    background: lightgray;

    &.active:first-child {
      background: red;
    }
    &.active:nth-child(2) {
      background: orangered;
    }
    &.active:nth-child(3) {
      background: orange;
    }
    &.active:nth-child(4) {
      background: yellow;
    }
    &.active:nth-child(5) {
      background: green;
    }
  }

  .strengthStep + .strengthStep {
    margin-left: 1px;
  }

  .scoreHintContainer {
    width: 20%;

    .scoreHint {
      font-size: 10px;
    }
  }
}
